.InputContainer{
    width:100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin: auto;
}
.InputTitle{
    width:100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.title{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.title-small{
    width:40%;
    height:2rem;
}
.title-medium{
    width:60%;
    height:2.5rem;
}
.title-large{
    width:80%;
    height: 3rem;
}

.error{
    color:red
}
.error-small{
    font-size: small;
}

.error-medium{
    font-size: medium;
}

.error-large{
    font-size: large;
}