# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
blog/.gitignore
blog/package-lock.json
blog/package.json
blog/README.md
blog/public/favicon.ico
blog/public/index.html
blog/public/logo192.png
blog/public/logo512.png
blog/public/manifest.json
blog/public/robots.txt
