.input {
    background-color: transparent;
    height:100%;
    width:100%;
    border:none;
    outline: none;
}

.mainSearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.bi-search {
    color: rgb(61, 61, 253);
    margin-top:1rem;
    padding:5px;
}

.bi-x-circle {
    color: rgb(253, 61, 61);
    margin-top:1rem;
    padding:5px;
}

.small {
    height: 2rem;
    font-size: 0.875rem;
}

.medium {
    height: 2.5rem;
    font-size: 1rem;
}

.large {
    height: 3rem;
    font-size: 1.5rem;
}

input.small{
    width:200px
}

input.medium{
    width:400px
}
input.large{
    width:600px
}