.NavButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #006666;
    margin-top: 10px;
    border-right-style: none;
    border-left-style: none;
    background-color: #03cccc8c;
    padding: 20px;
    float: left;
    width:100%;
}

.post,
.publish {
    width:60%;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 2px;
}

.post {
    background-color: #4caf50;
}

.publish {
    background-color: #54c3e7;
}

@media screen and (max-width: 800px) {
    .post,.publish{
        width: 100%;
    }
}