.markDownViewer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    overflow: scroll;
    height: 500px;
}

.empty {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: large;
}

.Viewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.icon {
    color: red;
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
}