.mainSearchContainer{
  display:flex;
  margin-left:200px;
}
.searchContainer {
  display:inline-flex;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  max-width: 80%;
}

.bi-search {
  padding: 0.5rem;
  color:rgb(61, 61, 253);
}
.bi-x-circle{
  padding: 0.5rem;
  color:rgb(253, 61, 61);
}

.searchBox {
  border:none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  background-color: transparent;
  outline: none;
}
